*{
    margin: 0 1%;
    padding: 5px;
}
h1{
    padding: 10px;
    margin: 5%;
    width: 90%;
    font-size: 15px;
}
p{
    background-color: purple;
    padding: 10px;
    border: 1px solid black;
    margin: 1%;
    margin-left: 0%;
    margin-right: 78%;
    color: white;
}
input{
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 3px;
}
button{
    background-color: purple;
    color: white;
    padding: 5px;
}

.yellow{
    color: red !important;
    background-color: yellow !important;
}
.Green{
    color: green;
    background-color: white;
    font-size: 15px;
    text-align: center;
}
#clicks{
    background-color: yellow;
    color: red;
    border: 1px green solid;
    width: 90%;
    margin: 3% auto;
    display: flex;
    align-items: center;
}
#clicks img{
   width: 100px;
    height: auto;
}

.images{
    width: 30%;
    border: 1px solid white;
}

#hide{
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#show{
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
